[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Control and CapsLk swap
Comment=Swap the two keys
Exec=/usr/bin/setxkbmap -option "ctrl:swapcaps"
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

